<h1>Prediction by LatLong</h1>
<p>{</p>
	<p style="text-indent: 1cm">"lattitude": <%= @prediction_lat_lon[:lattitude] %></p>
	<p style="text-indent: 1cm">"longitude": <%= @prediction_lat_lon[:longitude] %></p>
	<p style="text-indent: 1cm">"predictions":{ </p>
	<% @prediction_lat_lon[:predictions].each do |key,value| %>
		<p style="text-indent: 1.5cm"><%= "\"#{key}\":" %>{</p>
		<% if key == "0" %>
		<p style="text-indent: 2cm">"time":<%= value[:time] %></p>
		<p style="text-indent: 1.5cm">}</p>
		<% else %>
			<p style="text-indent: 2cm">"time":<%= value[:time] %></p>
			<p style="text-indent: 2cm">"rain":{</p>
			<p style="text-indent: 3cm">"value":<%= value[:rain][:value] %></p>
			<p style="text-indent: 3cm">"probability":<%= value[:rain][:probablity] %></p>
			<p style="text-indent: 2cm">}</p>
			<p style="text-indent: 2cm">"temp":{</p>
			<p style="text-indent: 3cm">"value":<%= value[:temperature][:value] %></p>
			<p style="text-indent: 3cm">"probability":<%= value[:temperature][:probablity] %></p>
			<p style="text-indent: 2cm">}</p>
			<p style="text-indent: 2cm">"wind_direction":{</p>
			<p style="text-indent: 3cm">"value":<%= value[:winddirection][:value] %></p>
			<p style="text-indent: 3cm">"probability":<%= value[:winddirection][:probablity] %></p>
			<p style="text-indent: 2cm">}</p>
			<p style="text-indent: 2cm">"windspeed":{</p>
			<p style="text-indent: 3cm">"value":<%= value[:windspeed][:value] %></p>
			<p style="text-indent: 3cm">"probability":<%= value[:windspeed][:probablity] %></p>
			<p style="text-indent: 2cm">}</p>
		<% end %>
	<% end %>
	<p style="text-indent: 1cm">}</p>
<p>}</p>
